mat-card {
  background-color: #14a294;

  padding: 5%;

}
h1 {
  text-align: center;
  margin-bottom: 5%;

}
h4{
  font-size: 2.5vw;
}
p{
  font-family: "CentSchbkCyrill BT";
}
.qual{
  text-align: center;
  width: 42%;
  margin-top: 2%;
  margin-right: 7%;
  display: inline-block;
  transform: scale(1);
  transition: all ease-in-out 0.2s;
  background-color: rgb(238, 117, 124);
}
.qual:hover{
  transform: scale(1.1);
  transition: all ease-in-out 0.2s;
  background-color: #484848;
  color: white;
}
.left{
  //margin-right: 4%;
  margin-left: 2%;
}

@media screen and (max-width:500px){
  .qual{
    width: 80%;
    margin-bottom: 3%;

  }
}

@media screen and (max-width:380px){
  .qual{
    width: 80%;
    margin-bottom: 3%;
    margin-left: 8%;
    height: 6vh;
    padding-top: 26px;

  }
}
