.mat-card {
  padding: 2%;
  background-color: lavender;
  text-align: center;
}

.techcard{
  display: inline-block;
  width: 28%;
  padding: 0;
  margin-right: 3%;
}
.tech{
 height: 140px;
  line-height: 70px;
  background-color: rgb(250, 203, 121);

}
.des{
  height: 100px;
  line-height: 80px;background-color: rgb(39, 76, 85);
  color: white;
}
