mat-card{
  background-color: rgb(39, 76, 85);
}
h1{
  text-align: center;
  color: #fff;
}
.mail{
  text-align: center;
  font-style: normal;
  color: #fff;
}
h4,p {
  color: #fff;
}

