.sleft {
  display: inline-block;
  margin-left: 3%;
  float: left;
  width: 44%;
}
.sright {
  display: inline-block;
  float: right;
  margin-right: 4%;
  width: 44%;
}
mat-card{
  background-color: aliceblue;
  height: 800px;
}
ul {
  list-style-type: none;
  padding: 0px;

}
section{
  background-image: url("../../../assets/images/name.jpg");
  background-attachment: fixed;
  background-size: cover;
  height: 220px;
}
span{

  height: 150px;
  padding: 30px;
}

@media screen and (max-width: 803px) {
  .sleft{
    width: 80%;
  }
  .sright{
    width: 80%;
    float: left;
    margin-left: 2%;
  }
  mat-card{
    height: 1500px;
  }

}
@media screen and (max-width: 420px){
mat-card{
  height: 1600px;
}
}
