.main {
  background-color: #D3D3D3;
  text-align: center;
  height: 700px;
}
.plus{
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  height: 27px;
  width: 27px;
  background-color: #ffffff;
  text-align: center;
  position: absolute;
  bottom: 30%;
  left: 49%;
}
.cardr {

  position: absolute;
  background-color: #ffffff;
  width: 40%;
  margin-top: 2%;
  display: inline-block;
  left: 54%;
  text-align: left;
  transform: scale(1);
  transition: all ease-in-out 0.1s;
}
.cardr:hover{
  transform: scale(1.1);
  transition: all ease-in-out 0.1s;
}
.cardl {

  position: absolute;
  background-color: #ffffff;
  width: 40%;
  margin-top: 2%;
  display: inline-block;
  right: 54%;
  text-align: right;
  transform: scale(1);
  transition: all ease-in-out 0.1s;
}
.cardl:hover{
  transform: scale(1.1);
  transition: all ease-in-out 0.1s;
}
.fa-plus{
  color: #CC4646;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}
.clock {
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  height: 27px;
  width: 27px;
  background-color: #ffffff;
  text-align: center;

  position: absolute;
  top: 210%;
  left: 49%;
}
.fa-clock-o{
  color: #CC4646;
  margin-top: 4px;
  margin-left: auto;
  margin-right: auto;
}
.top-box {

  height: 40px;
  width: 100%;
  z-index: 2;
  padding: 10px;
  position: relative;

}
.top-div{
  z-index: 4;
  border-bottom: dashed 1px #CC4646 ;
  height: 90px;

}
h4{
  margin-bottom: 3px;
  margin-top: 6px;
}
h3{
  margin-bottom: -5px;
  color: #CC4646;
}
p{
  font-size: 12px;
  margin-top: 0;
}
.top-right{
  z-index: 5;
  height: 90px;
  width: 640px;
  margin-left: 50%;
  border-left: solid 2px #CC4646;
}
.ex-box{
  margin-top: 3%;
  height: 120px;
}
.ex-box-right {
  z-index: 5;
  height: 160px;
  width: 120px;
  margin-left: 50.8%;
  border-left: solid 2px #CC4646;
}
.ex-div {
  z-index: 4;
  border-bottom: dashed 1px #CC4646 ;
  height: auto;
}
.data{
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  height: 50px;
  width: 50px;
  color: #ffffff;
  background-color: #CC4646;
  position: relative;
  left: -21.2%;
  top: 39%;

}
section{
  background-image: url("../../../assets/images/name.jpg");
  background-attachment: fixed;
  background-size: cover;
  height: 220px;
}
span{

  height: 150px;
  padding: 30px;
}
